body, html{
background-color: rgb(255, 255, 255);
margin: 0%;
padding: 0%;
height: 100%;
}

.menu{
	width:100%;
	display: block;
	border-bottom: solid 1px;
	border-color: #cecece;
	background-color: #ffffff;
	z-index: 3;
	height: 100px;
    position: fixed;
    top: 0;
}

.box1{
	margin: auto;
  	display: flex; 
  	width: 1200px;
	height: 100px;
}

.div1{
	width: 20%;
	margin: auto;
	text-align: start;
}

.div2{
	width: 60%;
	margin: auto;
}

.div3{
	width: 20%;
	margin: auto;
	text-align: end;
}
.logo{
	font-family: 'Lexend';
	font-weight: 600;
	color:  #000000;
 }

.p1{
	color: #1f1f1f;
	text-align: center;
 	font-family: 'lexend';
	font-weight: 300;
}

.site{
	font-family: 'Lexend';
	margin: auto;
	font-size: 25px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: 400;
}

.site:hover {
	color: blue;
}

.body{
	vertical-align: middle;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box2 {
	margin:auto;
	vertical-align: middle;
	width: 1200px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.sub {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.sub1{
	width: 500px;
	background-color: #e0e0e0;
}
.p2 {
	text-align: center;
	font-family: 'lexend';
}

.input {
	justify-content: center;
	display:flex
}

.input1{
	display: flex;
	width: 500px;
}

.inputEntrar{
	border: solid 1px;
	border-right: 0;
	border-color: #eeeeee;
	width: 75%;
	padding: 10px 10px;
	color: black;
	font-family: 'lexend';
	font-weight: 600;
	box-shadow: -10px 1px 30px rgb(0 0 0 / 15%);
	border-radius: 5px 0 0 5px;
	z-index: 2;

}

input::placeholder{
color: rgb(97, 96, 96);
}

.btnEntrar{
	cursor: pointer;
	width: 25%;
	display: flex;
	border: solid 1px;
	border-left: 0;
	border-color: #eeeeee;
	font-size: 14px;
	font-family: 'lexend';
	font-weight: 600;
	box-shadow: 10px 1px 30px rgb(0 0 0 / 15%);
	border-radius: 0 5px 5px 0;
	transition: 0.5s;
}

.btnEntrar:hover {
	background-color: #dddddd;
}

.footer{
	text-align: center;
	position:fixed;
	bottom: 0;
	width: 100%;
	border-top: solid 1px;
	border-color: #cecece;
	height: 50px;
	background-color: #ffffff;
	z-index: 2;

}

.p3{
	color: black;
	font-family: 'lexend';
   	font-weight: 300;
	font-size: 14px;
}

#title {
	color: #1f1f1f;
	text-align: center;
 	font-family: 'lexend';
	font-weight: 300;
}

#input{
	border: solid 1px;
	border-right: 0;
	border-color: #eeeeee;
	width: 80%;
	padding: 10px 10px;
	color: black;
	font-family: 'lexend';
	font-weight: 600;
	box-shadow: -10px 1px 30px rgb(0 0 0 / 15%);
	border-radius: 5px 0 0 5px;
	z-index: 2;

}

input::placeholder{
color: rgb(97, 96, 96);
}

.myButton{
	cursor: pointer;
	width: 20%;
	display: flex;
	border: solid 1px;
	border-left: 0;
	font-size: 14px;
	border-color: #eeeeee;
	background-color: #ffffff;
	font-family: 'lexend';
	font-weight: 600;
	box-shadow: 10px 1px 30px rgb(0 0 0 / 15%);
	border-radius: 0 5px 5px 0;
	transition: 0.5s;
	z-index: 1;
}

.myButton:hover {
	background-color: #dddddd;
}

.pbtn{
	margin: auto;
	cursor: pointer;
}

.board{
	margin-top: 50px;
	width: 100%;
}

#app {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.card{
	text-align: left;
	color: rgb(56, 56, 56);
    font-family: 'lexend';
	width: 20%;
    font-weight: 400;
    border: solid 1px;
    padding: 20px;
	padding-top: 10px;
    margin: 5px;
	border-radius: 5px;
	border-color: #cecece;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
	transition: 0.5s;
}

.card:hover{
	box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}

.card a{
    padding:3px 6px 3px 6px;
	margin-right: -10px;
    font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
    text-decoration: unset;
    color: rgb(75, 77, 77);
	background-color: #ffffff;
    border-radius: 100%;
    text-transform:uppercase;
	transition: 0.5s;
	float: right;
}

.card a:hover {
	color: #ffffff;
    background-color:red;
}

