@media screen and (max-width: 782px) {
	.menu{
		height: auto;
	}
	
	.box1{
		height: auto;
		display: block;
		width: 100%;
		padding: 10px 0;
	}
	
	.div1{
		width: 100%;
		text-align: center;
	}
	
	.div2{
		width: 100%;
	}
	
	.div3{
		width: 100%;
		text-align: center;
	}
	.logo{
		margin: auto;
		font-size: 30px;
	}

	.box2 {
		padding: 200px 0;
		width: 95%;
	}

	.inputEntrar{
		width: 60%;
	}

	.btnEntrar{
		width: 40%;
	}
	
	#input{
		width: 70%;
	}

	.myButton{
		width: 30%;
	}

	.card{
		width: 100%;
	}